.example-card {
  max-width: 300px;
  cursor: pointer;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-imgs {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 20px;
  padding: 40px;
  justify-content: center;
}

.card img {
  max-width: 100%;
  object-fit: cover;
}
