<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="material-symbols-outlined">add_box</mat-icon>
      Adicionar Foto
    </ng-template>

    <app-postar-foto></app-postar-foto>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="material-symbols-outlined">insert_chart</mat-icon>
      Estatistícas
    </ng-template>

    <app-estatisticas></app-estatisticas>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
      Conta
    </ng-template>

    <app-conta></app-conta>
  </mat-tab>
</mat-tab-group>