.example-spacer {
  flex: 1 1 auto;
  max-width: 900px;
}

.nav {
  display: flex;
  justify-content: center;
}

span {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

.content,
.mat-mdc-card-content:first-child {
  margin: 0;
  padding: 0;
}