<section class="login">
  <div>
    <img src="../../../../assets/login.jpg" alt="cachorro">
  </div>
  <div>
    <h1 class="title">Login</h1>
    <form [formGroup]="form" (submit)="onSubmit()">

      <mat-form-field>
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="email@example.com" required formControlName="email">
      </mat-form-field>


      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Senha" required formControlName="password" type="password">
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">{{ authentic ? 'Login' : 'carregando' }}</button>


    </form>
  </div>
</section>