<mat-list>
  @if (comments && comments.length > 0) {
    @for (item of comments; track $index) {
      <mat-list-item>
        <span matListItemTitle>{{ item.comment_author }}</span>
        <span matListItemLine>{{ item.comment_content }}</span>
      </mat-list-item>
    }
  } @else {
    <mat-list-item>
      <span matListItemTitle>Nenhum comentário</span>
    </mat-list-item>
  }
  <div [formGroup]="form">
    <mat-form-field>
      <mat-icon class="icon-comment" (click)="enviarComentario()" matPrefix>comment</mat-icon>
      <input  matInput formControlName="comments">
    </mat-form-field>
</div>
</mat-list>